:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #f13cdc;
  --magenta: #9b0b8a;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: 'Oxygen mono', monospace;
  --sans: Oxygen, sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  font-size: var(--font-size);
  background-color: var(--black);
  color: var(--white);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  color: var(--magenta);
}

a:hover {
  color: var(--hotmag);
  text-decoration: none;
}

img {
  width: 100%;
}

.background-plum {
  background-color: var(--plum);
}

.background-dkblue {
  background-color: var(--dkblue);
}

.gradient {
  background: linear-gradient(
    90deg,
    rgba(255, 23, 228, 1) 0%,
    rgba(134, 251, 251, 1) 100%
  );
  height: 2px;
}

/* navbar */

nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
}

nav h1 a {
  font-family: var(--sans);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

nav a {
  color: var(--white);
  text-decoration: none;
  display: block;
}

nav a:hover,
nav [class*='fa-']:hover {
  color: var(--magenta);
}

nav [class*='fa-'] {
  font-size: 150%;
  color: var(--aqua);
}

nav h1 [class*='fa-'] {
  font-size: 100%;
  color: var(--aqua);
}

.button {
  background-color: var(--magenta);
  color: var(--white);
  padding: 0.5rem;
  border-radius: 5px;
  font-family: var(--mono);
  text-decoration: none;
}

.button:hover {
  color: var(--white);
  background-color: var(--hotmag);
}

/* Intro Styles */

#intro {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--aqua);
  display: block;
}

#intro h2 {
  font-size: 4rem;
  font-weight: normal;
}

#contact {
  text-align: center;
  background-color: var(--plum);
  margin: 0 auto;
  width: 400px;
  padding: 3rem 0;
}

#contact a {
  margin-top: 3rem;
}

/* Projects section */
#projects {
  padding: 4rem 1rem;
}

#projects h2 {
  font-size: 2rem;
  margin-bottom: calc(2.5rem * 1.5);
}
#projects h3 {
  color: var(--aqua);
  text-transform: capitalize;
}

#projects h4 {
  font-size: 1rem;
  font-family: var(--mono);
}

.project-desc {
  background-color: var(--black);
  padding: 1rem;
  border-radius: 10px;
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
}

#projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 0.8rem;
  font-size: 1rem;
}

#projects img {
  margin: 1.5rem 0 3rem 0;
  border-left: 1px solid var(--aqua);
  border-top: 1px solid var(--aqua);
  border-radius: 25px;
  padding: 0.8rem;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
}

footer h2 {
  font-size: 1.5rem;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  font-size: 2.5rem;
}

/* Mobile Responsive */

@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}

@media (min-width: 550px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0.8rem;
  }
  #projects {
    max-width: 1200px;
    margin: 0 auto;
  }
  #projects img {
    grid-column: 1/6;
    grid-row: 1/2;
  }
  .text {
    grid-column: 5/11;
    grid-row: 1/2;
    order: 2;
    text-align: right;
  }
  #projects ul {
    justify-content: flex-end;
  }

  #projects .reverse .text {
    grid-column: 1/7;
    order: 2;
    text-align: left;
  }
  #projects .reverse img {
    grid-column: 6/11;
    text-align: left;
  }
  #projects .reverse ul {
    justify-content: flex-start;
  }
}
