:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #f13cdc;
  --magenta: #9b0b8a;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: 'Oxygen mono', monospace;
  --sans: Oxygen, sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  font-size: var(--font-size);
  background-color: var(--black);
  color: var(--white);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--magenta);
}

a:hover {
  color: var(--hotmag);
  text-decoration: none;
}

/* navbar */

nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
}

nav h1 a {
  font-family: var(--sans);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

nav a {
  color: var(--white);
  text-decoration: none;
  display: block;
}

nav a:hover {
  color: var(--magenta);
}

nav [class*="fa-"] {
  font-size: 150%;
  color: var(--aqua);
}
/* Intro Styles */

#intro {
  padding-bottom: 10rem;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--aqua);
  display: block;
}

#intro h2 {
  font-size: 4rem;
  font-weight: normal;
}

#contact {
  text-align: center;
  background-color: var(--plum);
  /* width: 400px; */
  margin: 0 auto;
  padding: 3rem 0;
}

#contact a {
  margin-top: 3rem;
}
